<?xml version ="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="automation" parallel="classes" thread-count="1">
    <listeners>
        <listener class-name="listeners.SuiteListener"/>
    </listeners>
    <test name="ActionTests">
        <classes>
            <class name="Actions.ActionsTests"/>
        </classes>
    </test>
    <test name="TestNgTest">
        <classes>
            <class name="testNg.TestNgTest"/>
        </classes>
    </test>
</suite>